.oral_div{
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 30px;
    margin: 50px auto;
    width: 350px;
}
.heading{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.data_to_be_enter{
    height: 28px;
    width: 270px;
    outline: none;
    border: 2px solid black;
    border-radius: 3px;
}
button{
    height: 34px;
    width: 50px;
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}
.task_list{
    list-style: none;
    padding: 0px;
}

.task_list li{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    gap: 10px;   
}

.task_list li span{
    flex: 1;                 /* take remaining width */
    text-align: left;
    border: 2px solid black;
    padding: 6px;
    border-radius: 5px;
    background: white;
}

.task_list li button{
    height: 40px;
    width: 55px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}